@font-face {
  font-family: 'Pokemon Solid';
  src: url("fonts/pokemon_solid.ttf"); }
@font-face {
  font-family: 'Pokemon Hollow';
  src: url("fonts/pokemon_hollow.ttf"); }
@font-face {
  font-family: 'Myriad Pro Cond';
  src: url("fonts/MYRIADPRO-COND.OTF"); }
@font-face {
  font-family: 'Myriad Pro';
  src: url("fonts/MYRIADPRO-REGULAR.OTF"); }
@font-face {
  font-family: 'Myriad Pro';
  src: url("fonts/MYRIADPRO-BOLD.OTF");
  font-weight: bold; }
html,
body {
  font-family: 'Myriad Pro Cond';
  background: #25b7c4; }

a:link,
a:visited {
  text-decoration: none; }

#pokedex h1 {
  width: 100%;
  font-family: 'Pokemon Solid';
  font-size: 24px;
  color: #ffcb05;
  text-shadow: 3px 3px 0 #2a75bb, -3px -3px 0 #2a75bb;
  text-align: center; }

#pokemon--list {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background: linear-gradient(to bottom, #25c481, #25b7c4);
  border: 1px solid white; }
  #pokemon--list .nav {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    font-family: 'Myriad Pro';
    font-weight: bold;
    border: 0; }
    #pokemon--list .nav .nav-prev,
    #pokemon--list .nav .nav-next {
      font-size: 16px;
      padding: 20px 0;
      margin: auto;
      color: #2a75bb;
      padding: 1em;
      border: 0.2em solid #2a75bb;
      border-radius: 1em;
      margin: 20px 0;
      transition: all 0.2s; }
    #pokemon--list .nav .nav-prev:hover,
    #pokemon--list .nav .nav-next:hover {
      color: #ddd;
      border-color: #ddd; }
  #pokemon--list .pokemon--item {
    width: 120px;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    margin: 5px; }
    #pokemon--list .pokemon--item :first-child {
      color: #2a75bb;
      transition: all 0.2s; }
    #pokemon--list .pokemon--item :last-child {
      transition: all 0.2s; }
    #pokemon--list .pokemon--item img {
      width: 100%; }
  #pokemon--list .pokemon--item:hover {
    overflow: visible; }
    #pokemon--list .pokemon--item:hover :first-child {
      color: #8ed9ff;
      border-color: #8ed9ff; }
    #pokemon--list .pokemon--item:hover :last-child {
      transform: scale(1.1); }

#pokemon--details {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background: linear-gradient(to bottom, #25c481, #25b7c4);
  border: 1px solid white; }
  #pokemon--details :first-child {
    border-bottom: 3px double transparent; }
  #pokemon--details .nav {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    font-family: 'Myriad Pro';
    font-weight: bold;
    border: 0; }
    #pokemon--details .nav .nav-back-to-list,
    #pokemon--details .nav .nav-prev,
    #pokemon--details .nav .nav-next {
      font-size: 16px;
      padding: 20px 0;
      margin: auto;
      color: #2a75bb;
      padding: 1em;
      border: 0.2em solid #2a75bb;
      border-radius: 1em;
      margin: 20px 0;
      transition: all 0.2s; }
    #pokemon--details .nav .nav-back-to-list:hover,
    #pokemon--details .nav .nav-prev:hover,
    #pokemon--details .nav .nav-next:hover {
      color: #8ed9ff;
      border-color: #8ed9ff; }
  #pokemon--details .shrink-nav {
    width: 100%; }
  #pokemon--details #pokemon--details--sprite {
    width: 50%;
    text-align: center; }
    #pokemon--details #pokemon--details--sprite img {
      width: 100%;
      margin: 10% 0; }
  #pokemon--details table {
    width: 100%;
    color: #2b2b2b;
    font-size: 24px;
    text-transform: capitalize;
    padding: 0;
    margin: 0; }
    #pokemon--details table td {
      width: 50%;
      text-align: left;
      padding: 10px 0 10px 10%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    #pokemon--details table td:first-child {
      border-right: 10px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-weight: bold; }

#pokemon--loading {
  width: 100%;
  font-family: 'Pokemon Hollow';
  font-size: 40px;
  text-align: center; }

@media only screen and (min-width: 1100px) {
  #pokedex {
    margin-bottom: 50px; }
    #pokedex h1 {
      font-size: 48px;
      color: #ffcb05;
      text-shadow: 6px 6px 0 #2a75bb, -6px -6px 0 #2a75bb;
      text-align: center; }

  #pokemon--list .nav {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    #pokemon--list .nav .nav-prev,
    #pokemon--list .nav .nav-next {
      font-size: 24px;
      padding: 20px 0;
      margin: auto;
      color: #2a75bb;
      padding: 1em;
      border: 0.2em solid #2a75bb;
      border-radius: 1em;
      margin: 20px 0;
      transition: all 0.2s; }
  #pokemon--list .pokemon--item {
    width: 240px;
    font-size: 36px;
    padding: 40px 0 0 0;
    margin: 10px; }
    #pokemon--list .pokemon--item :last-child {
      margin-top: 20px; }

  #pokemon--details .shrink-nav {
    width: 400px;
    transform: translateX(-25vw); }
  #pokemon--details #pokemon--details--sprite {
    width: 50%; }
    #pokemon--details #pokemon--details--sprite img {
      width: 50%;
      margin: 0; }
  #pokemon--details table {
    width: 50%;
    font-size: 36px;
    margin-top: 4%; } }

/*# sourceMappingURL=styles.css.map */
